body,
html {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  height: 100vh;
  background: url("./inventory_background_full.jpg") no-repeat center center
    fixed; /* Gunakan gambar sebagai latar belakang */
  background-size: cover; /* Pastikan gambar memenuhi seluruh layar */
}

.login-wrapper {
  display: flex;
  height: 100vh;
  color: #fff;
}

.login-left {
  flex: 1;
  padding: 100px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: transparent;
}

.login-right {
  flex: 1;
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Warna putih dengan transparansi */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  border-radius: 15px; /* Sudut membulat */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Tambahkan bayangan */
}

.login-form {
  width: 100%;
  max-width: 400px; /* Lebar maksimum form */
  display: flex;
  flex-direction: column;
}
.login-form h2 {
  font-size: 28px;
  font-weight: bold;
  color: #007bff; /* Warna biru untuk teks "User Login" */
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.login-left h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #f0e9e9; /* Warna teks */
  text-shadow: 2px 2px 4px #000; /* Outline hitam pada teks */
}

.login-left p {
  font-size: 18px;
  line-height: 1.6;
  color: #f0e7e7;
  text-shadow: 1px 1px 3px #000;
}

.login-right {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.login-form {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
}

.login-form h2 {
  font-size: 28px;
  font-weight: bold;
  color: #007bff;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  padding: 14px 14px 14px 40px;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-size: 16px;
  outline: none;
}

.icon {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #888;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 20px;
}

.forgot {
  color: #888;
  cursor: pointer;
}

.login-btn {
  background: #007bff; /* Warna biru untuk tombol login */
  color: white;
  padding: 14px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-btn:hover {
  background: #0056b3; /* Warna biru lebih gelap saat hover */
}
.login-error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}
